@import vars

body
  font-family: 'Roboto Light', sans-serif
  background: $bg-color
p
  font-size: 22px

a
  color: #666
  &:hover, &:active, &:focus
    text-decoration: none
    outline: none

h1
  font-size: 38px

.logo
  transition: all 0.3s ease-in-out 0s
  &:hover
    color: $green
  &:active, &:focus
    color: #333

.section__intro
  background: rgba(0,0,0,0.5)
  background-size: cover
  height: 700px
  display: flex
  justify-content: flex-start
  align-items: center
  p
    width: 600px
    color: white
  h1
    color: white

.section__intro-content
  p
    margin-bottom: 30px

.section__skills
  background: $bg-color

.section__skills_item
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  margin-bottom: 30px
  p
    text-align: center
    margin-top: 10px

.section__skills-title
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding-bottom: 30px

.section__target-content__container
  background: $bg-color

.section__target-title
  display: flex
  justify-content: center
  align-items: center
  height: 300px
  background: rgba(255,255,255,0.5)

.section__target-content
  margin: 50px 0
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  p
    max-width: 700px

.section__beginning
  background: rgba(0,0,0,0.5)
  padding: 30px 0
  h1
    color: white

.section__beginning-steps
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  .section__beginning-step
    display: flex
    justify-content: space-between
    align-items: baseline
    flex-direction: row
    span
      font-size: 48px
      color: $green
      margin-right: 10px
    p
      max-width: 600px
      color: white
    h1
      color: white
header
  background: $bg-color
.header__nav
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
.header__nav-menu
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: row
  list-style: none
  margin: 0
  padding: 0
  li
    a
      padding: 5px 0
      margin: 0 20px
      font-size: 16px
      position: relative
      color: #000
      transition: all 0.3s ease-in-out 0s
      &:hover
        color: $green
        transition: all 0.3s ease-in-out 0s
        &:before
          visibility: visible
          transform: scaleX(1)
      &:before
        content: ""
        position: absolute
        width: 100%
        height: 2px
        bottom: 0
        left: 0
        background-color: $green
        visibility: hidden
        -webkit-transform: scaleX(0)
        transform: scaleX(0)
        -webkit-transition: all 0.3s ease-in-out 0s
        transition: all 0.3s ease-in-out 0s
  .tel
    a
      font-weight: 600
      border: 2px $green solid
      border-radius: 30px
      padding: 5px 15px
      color: $green
      &:hover
        color: $bg-color
        background: $green
        transition: all 0.3s ease-in-out 0s
        &:before
          visibility: hidden
      &:before
        display: none

.footer__flex-container
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: row

.footer__contacts__social
  list-style: none
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  padding: 0
  margin: 0
  li
    margin: 0 10px
.footer__contacts
  margin: 10px 0
  .header__nav-menu
    flex-direction: column

.btn__rounded
  font-weight: 600
  border: 2px $green solid
  border-radius: 30px
  padding: 10px 20px
  color: white
  background: $green
  transition: all 0.3s ease-in-out 0s
  &:hover
    border-color: white
    background: white
    color: $green
    transition: all 0.3s ease-in-out 0s
.modal-content
  align-items: center
  font-family: 'Roboto Light', sans-serif !important
  padding: 30px

.form__callback
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 30px 0
  input
    border: 2px $green solid
    outline: none
    border-radius: 0
    width: 350px
    &:active, &:focus
      outline: none
      border: 2px $green solid
      box-shadow: none
.btn__submit
  font-weight: 600
  border: 2px $green solid
  border-radius: 30px
  padding: 10px 20px
  color: white
  background: $green
  transition: all 0.3s ease-in-out 0s
  &:hover
    background: white
    border-color: $green
    color: $green
    cursor: pointer
  &:active, &:focus
    outline: none

.fa-2x
  transition: all 0.3s ease-in-out 0s
  &:hover
    color: $green !important
    transition: all 0.3s ease-in-out 0s










