body {
  font-family: 'Roboto Light', sans-serif;
  background: #F8F8F8; }

p {
  font-size: 22px; }

a {
  color: #666; }
  a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none; }

h1 {
  font-size: 38px; }

.logo {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .logo:hover {
    color: #66CC99; }
  .logo:active, .logo:focus {
    color: #333; }

.section__intro {
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .section__intro p {
    width: 600px;
    color: white; }
  .section__intro h1 {
    color: white; }

.section__intro-content p {
  margin-bottom: 30px; }

.section__skills {
  background: #F8F8F8; }

.section__skills_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px; }
  .section__skills_item p {
    text-align: center;
    margin-top: 10px; }

.section__skills-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 30px; }

.section__target-content__container {
  background: #F8F8F8; }

.section__target-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 300px;
  background: rgba(255, 255, 255, 0.5); }

.section__target-content {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .section__target-content p {
    max-width: 700px; }

.section__beginning {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 0; }
  .section__beginning h1 {
    color: white; }

.section__beginning-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .section__beginning-steps .section__beginning-step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .section__beginning-steps .section__beginning-step span {
      font-size: 48px;
      color: #66CC99;
      margin-right: 10px; }
    .section__beginning-steps .section__beginning-step p {
      max-width: 600px;
      color: white; }
    .section__beginning-steps .section__beginning-step h1 {
      color: white; }

header {
  background: #F8F8F8; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0; }
  .header__nav-menu li a {
    padding: 5px 0;
    margin: 0 20px;
    font-size: 16px;
    position: relative;
    color: #000;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    .header__nav-menu li a:hover {
      color: #66CC99;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
      .header__nav-menu li a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
    .header__nav-menu li a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #66CC99;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
  .header__nav-menu .tel a {
    font-weight: 600;
    border: 2px #66CC99 solid;
    border-radius: 30px;
    padding: 5px 15px;
    color: #66CC99; }
    .header__nav-menu .tel a:hover {
      color: #F8F8F8;
      background: #66CC99;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
      .header__nav-menu .tel a:hover:before {
        visibility: hidden; }
    .header__nav-menu .tel a:before {
      display: none; }

.footer__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.footer__contacts__social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0; }
  .footer__contacts__social li {
    margin: 0 10px; }

.footer__contacts {
  margin: 10px 0; }
  .footer__contacts .header__nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.btn__rounded {
  font-weight: 600;
  border: 2px #66CC99 solid;
  border-radius: 30px;
  padding: 10px 20px;
  color: white;
  background: #66CC99;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .btn__rounded:hover {
    border-color: white;
    background: white;
    color: #66CC99;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }

.modal-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Roboto Light', sans-serif !important;
  padding: 30px; }

.form__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 0; }
  .form__callback input {
    border: 2px #66CC99 solid;
    outline: none;
    border-radius: 0;
    width: 350px; }
    .form__callback input:active, .form__callback input:focus {
      outline: none;
      border: 2px #66CC99 solid;
      -webkit-box-shadow: none;
      box-shadow: none; }

.btn__submit {
  font-weight: 600;
  border: 2px #66CC99 solid;
  border-radius: 30px;
  padding: 10px 20px;
  color: white;
  background: #66CC99;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .btn__submit:hover {
    background: white;
    border-color: #66CC99;
    color: #66CC99;
    cursor: pointer; }
  .btn__submit:active, .btn__submit:focus {
    outline: none; }

.fa-2x {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .fa-2x:hover {
    color: #66CC99 !important;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
